<label for="new-filename">File name or page PATH</label>
<input type="text" name="filename" id="new-filename" class="form-control"
       placeholder="letters, numbers and _, - only">
<br>

<label>Type</label>
<br>
<label class="radio-inline">
    <input type="radio" name="new-type" id="new-type-posts" value="posts" checked>
    Post
</label>
<label class="radio-inline">
    <input type="radio" name="new-type" id="new-type-pages" value="pages">
    Page
</label>

<label class="radio-inline">
    <input type="radio" name="new-type" id="new-type-drafts" value="drafts">
    Draft
</label>
<br><br>


<%
var time = new Date();
time = time.getFullYear() + '-' + (time.getMonth() + 1) + '-' + time.getDate() + ' ' +
        (time.getHours().toString().length === 1 ? '0' + time.getHours() : time.getHours()) + ':' +
        (time.getMinutes().toString().length === 1 ? '0' + time.getMinutes() : time.getMinutes()) + ':' +
        (time.getSeconds().toString().length === 1 ? '0' + time.getSeconds() : time.getSeconds());
%>

<label for="content-editor">Content</label>
<textarea name="content" id="content-editor">---
title: new post
date: "<%= time %>"
---
new content here</textarea>
<br>

<div id="new-publish-buttons" class="text-center">
    <button id="t-publish-new" class="btn btn-default">Submit</button>
</div>
